/* =========================================================
   CONTROLS
========================================================= */

.controls {
  margin-top: 15px;
  color: #aaa;
  line-height: 1.6;
  font-size: 14px;
}
